

<!DOCTYPE html>
<style>
    h1{
        text-align: center;
        font-style: italic;
        margin-top: 300px;
        color: blue;
    }
    #password{
        text-align: center;
        font-style: italic;
    }
    #email{
        text-align: center;
        font-style: italic;
    }
    #ff{
        text-align: center;
        font-style: italic;
    }
    #jj{
        text-align: center;
        font-style: italic;
    }
    #vv{
        text-align: center;
        font-style: italic;
        padding-bottom: 350px;
    }
</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body style="background-color: aqua;">
    <h1>Signin</h1>
    <form action="/signinsubmit" method="GET" id="vv">
        <label id="ff" for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label id="jj" for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <input type="submit" value="Login">
    </form>
</body>





</html>